{% extends "base-page.html" %}

{% block header %}
{% endblock %}

{% block content %}

<p>PyHK is a collection of open source data acquisition, storage, and plotting software developed for laboratory cryogenic systems (though it has found applications beyond this original use case).  The most current version can be freely downloaded and installed at <a href='https://bitbucket.org/jhunacek/pyhk/'>bitbucket.org/jhunacek/pyhk</a>.
</p>	

<h3>PyHK Version</h3>
<p>
<b>Branch:</b> {{boot_git_branch}}<br> 
<b>Commit ID:</b> {{boot_git_commit}}<br>
<b>Commit Date:</b> {{boot_git_date}}<br>
</p>	

<h3>Server Information</h3>
<p>
<b>Hostname:</b> {{server_hostname}} <br>
<b>Platform:</b> {{server_platform}} <br>
<b>CPU Count:</b> {{server_ncpu}} <br>
<b>Python Version:</b> {{server_pyver}} <br>
<br>
<b>CPU Load (1,5,15 min):</b> {{server_load1}}, {{server_load5}}, {{server_load15}} <br>
<b>RAM Usage:</b> {{server_ramused|round(1)}} / {{server_ramtot|round(1)}} GB<br>
<br><i>Note that the CPU load and RAM usage shown above includes all running processes, not just PyHK.</i>
</p>	

{% endblock %}
