{% extends "livedata-base-page.html" %}

% set use_power = page_config[cur_page_id]['use_power']
% set use_temperature = page_config[cur_page_id]['use_temperature']

{% block header %}

	{{ super() }}
	
	<script type="text/javascript">
		
		unit_lims['voltage'] = [-3,0];
		unit_lims['current'] = [-3,0];
		unit_lims['power'] = [-6,0];
	
		function update_data() 
		{
			console.log("Requesting new data");
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='voltage', value_names=page_config[cur_page_id]['names']) }}", new_data_func['voltage']);
			% if use_power
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='power', value_names=page_config[cur_page_id]['names']) }}", new_data_func['power']);
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='current', value_names=page_config[cur_page_id]['names']) }}", new_data_func['current']);
			% endif
			% if use_temperature
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='temperature', value_names=page_config[cur_page_id]['names']) }}", new_data_func['temperature']);
			% endif
		}	
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
		
	</script>
		
{% endblock %}

{% block content %}

	<p>
		
		<table class='prettytable' border="1">
			
			<tr>
				<th>Name</th>
				<th>Voltage</br>(Requested)</th>
				% if use_temperature
					<th>Temperature</br>(Requested)</th>
				% endif
				% if use_power
					<th>Current</br>(Measured)</th>
					<th>Power</br>(I<sup>2</sup> * R<sub>heater</sub>)</th>
				% endif
				<th>Change</th>
			</tr>
			
			% for n in page_config[cur_page_id]['names']
				<tr>
					<td>{{ n|e }}</td>
					<td><div id="val_voltage_{{ n|urlencode }}" style="text-align:center"></div></td>
					% if use_temperature
						<td><div id="val_temperature_{{ n|urlencode }}" style="text-align:center"></div></td>
					% endif
					% if use_power
						<td><div id="val_current_{{ n|urlencode }}" style="text-align:center"></div></td>
						<td><div id="val_power_{{ n|urlencode }}" style="text-align:center"></div></td>
					% endif
					<td>
						<input type="number" id="toset_{{ n|urlencode }}" style="width:80px;"></input>
						<button onclick="request_set_v('toset_{{ n|e }}', '{{ n|e }}')">Set V</button>
						% if use_temperature
							<button onclick="request_set_t('toset_{{ n|e }}','{{ n|e }}')">Set K</button>
						% endif
						% if use_power
							<button onclick="request_set_p('toset_{{ n|e }}','{{ n|e }}')">Set mW</button>
						% endif
						<button onclick="request_set_v_zero('toset_{{ n|e }}','{{ n|e }}')">Zero</button>
					</td>
				</tr>
			% endfor
			
		</table>			
		
	</p>
	

{% endblock %}
