
{% extends "livedata-base-page.html" %}

% set heaters = page_config[cur_page_id]['heaters']

{% block header %}

	{{ super() }}
	
	<script type="text/javascript">
		
		% for j in range(heaters|length)
			function request_set_heater_{{j}}()
			{
				request_set_s('target_state_{{j}}', '{{ heaters[j]|e }}');
				request_set_per('target_percentage_{{j}}', '{{ heaters[j]|e }}');
			}
		% endfor
		
		
		// Special handling for the range state value
		STATE_LABELS = ['Off', 'Low', 'Med', 'High'];
		function new_data_custom_rangestate(data)
		{
			console.log("New range state data received: " + JSON.stringify(data));
			for (tname in data)
			{
				val =  data[tname][1];
				$("[id='" + 'val_state_' + escape(tname) + "']").html(STATE_LABELS[val]);
			}
		}
	
		function update_data() 
		{
			console.log("Requesting new data");
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='state', value_names=heaters) }}", new_data_custom_rangestate);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='percentage', value_names=heaters) }}", new_data_func['percentage']);
		}	
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
		
	</script>
		
{% endblock %}

{% block content %}

	<p>
		
		<table class='prettytable' border="1">
			
			<tr>
				<th>Name</th>
				<th>Current Range</th>
				<th>Current Output</th>
				<th>Target Range</th>
				<th>Target Output</th>
				<th></th>
			</tr>
			
			% for j in range(heaters|length)
				<tr>
					<td>{{heaters[j]}}</td>
					<td><div id="val_state_{{ heaters[j]|urlencode }}"></div></td>

					<td><div id="val_percentage_{{ heaters[j]|urlencode }}"></div></td>
					<td>		
						<select id="target_state_{{j}}">
						% set MODE_LABELS = ['Off', 'Low', 'Med', 'High']
						% for k in range(MODE_LABELS|length)
							<option value={{k}}>{{MODE_LABELS[k]}}</option>
						% endfor
						</select>
					</td>
					<td>
						<input type="number" id="target_percentage_{{j}}" step='any' value="" style="width:50px;">
					</td>
					<td>
						<button onclick="request_set_heater_{{j}}()">Set</button>
					</td>
				</tr>
			% endfor
		
		</table>			
		
	</p>
	
	<p></p>
	

{% endblock %}
