{% extends "livedata-base-page.html" %}
		
% set NAMES_VOLTAGE = ['2.00 μV','6.32 μV','20.0 μV','63.2 μV','200 μV','632 μV','2.00 mV','6.32 mV','20.0 mV','63.2 mV','200 mV','632 mV']
% set NAMES_CURRENT = ['1.00 pA','3.16 pA','10.0 pA','31.6 pA','100 pA','316 pA','1.00 nA','3.16 nA','10.0 nA','31.6 nA','100 nA','316 nA','1.00 μA','3.16 μA','10.0 μA','31.6 μA','100 μA','316 μA','1.00 mA','3.16 mA','10.0 mA','31.6 mA']
% set NAMES_EXCITATION = ['1.00 pA / 2.00 μV', '3.16 pA / 6.32 μV', '10.0 pA / 20.0 μV', '31.6 pA / 63.2 μV', '100 pA / 200 μV', '316 pA / 632 μV', '1.00 nA / 2.00 mV', '3.16 nA / 6.32 mV', '10.0 nA / 20.0 mV', '31.6 nA / 63.2 mV', '100 nA / 200 mV', '316 nA / 632 mV', '1.00 μA', '3.16 μA', '10.0 μA', '31.6 μA', '100 μA', '316 μA', '1.00 mA', '3.16 mA', '10.0 mA', '31.6 mA']
% set NAMES_RESISTANCE = ['2.00 mΩ','6.32 mΩ','20.0 mΩ','63.2 mΩ','200 mΩ','632 mΩ','2.00 Ω','6.32 Ω','20.0 Ω','63.2 Ω','200 Ω','632 Ω','2.00 kΩ','6.32 kΩ','20.0kΩ','63.2 kΩ','200 kΩ','632 kΩ','2.00 MΩ','6.32 MΩ','20.0 MΩ','63.2 MΩ']
% set NAMES_MODE = ['Voltage', 'Current']		

{% block header %}
	
	{{ super() }}
	
	<style>
		.prettytable td {
			text-align: center !important;
		}
	</style>
	
	<script type="text/javascript">
		
		unit_lims['resistance'] = [-6,12];

		function get_config(channel)
		{	
			config = {
					"channel": channel,
					"enabled": $("[id='enabled_" + channel + "']").prop('checked'),
					"mode": parseInt($("[id='mode_" + channel + "']").val()),
					"excitation": parseInt($("[id='excitation_" + channel + "']").val()),
					"resistance_range": parseInt($("[id='rrange_" + channel + "']").val()),
					"auto_range": $("[id='autorange_" + channel + "']").prop('checked'),
					"dwell_time": parseInt($("[id='dwelltime_" + channel + "']").val()),
					"pause_time": parseInt($("[id='pausetime_" + channel + "']").val())
					}
					
			return config
		}
		
		function request_raw(config)
		{
			config_json = JSON.stringify(config);
			console.log("Requesting ls370 update: " + config_json);
			$.ajax({
				url: "{{ url_for('pyhkpage.request_set_ls370', cur_page_id=cur_page_id) }}",
				type: "POST",
				data: config_json,
				contentType: "application/json; charset=utf-8",
				success: function(result) {console.log("Server Result: " + result);}
			});
		}
	
		function request_set(channel)
		{	
			config = {'config_list':[get_config(channel)]};
			request_raw(config);
		}
		
		function request_set_all()
		{	
			config_list = []
			for (i = 0; i < 16; i++)
				config_list.push(get_config(i));
			config = {'config_list':config_list};
			request_raw(config);
		}
		
		function request_enable_all(enabled)
		{
			for (i = 0; i < 16; i++)
				$("[id='enabled_" + i + "']").prop('checked', enabled);
			request_set_all();
		}
		
		function update_data() 
		{
			console.log("Requesting new data");
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='temperature', value_names=chan_names) }}", new_data_func['temperature']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='resistance', value_names=chan_names) }}", new_data_func['resistance']);

		}	
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
				                                  
	</script>
	
{% endblock %}


{% block content %}

	<p>
		
		<table class='prettytable prettytable-quad' border="1">
			
			<tr>
				<th>Channel</th>
				<th>Name</th>
				<th>Temperature</th>
				<th>Resistance</th>
				<th>Enabled</th>
				<th>Mode</th>
				<th>Excitation</th>
				<th>Range</th>
				<th>Auto Range</th>
				<th>Dwell Time [s]</th>
				<th>Pause Time [s]</th>
				<th>Commands</th>

			</tr>
			
			% for c in ls370cfg
				<tr>
					% set channel = c['channel']
					<td>{{ channel|e }}</td>
					<td>{{ c['name']|e }}</td>
					
					<td><div id="val_temperature_{{ c['name']|urlencode }}"></div></td>
					<td><div id="val_resistance_{{ c['name']|urlencode }}"></div></td>
				
					<td>
						<input type="checkbox" id="enabled_{{channel}}" {{"checked" if c['enabled']}}>
					</td>
					
					
					<td>
						<select id="mode_{{channel}}">
						% for j in range(NAMES_MODE|length)
							<option {{"selected" if j == c['mode']}} value={{j}}>{{NAMES_MODE[j]}}</option>
						% endfor
						</select>
					</td>
					
					<td>
						<select id="excitation_{{channel}}">
						% for j in range(NAMES_EXCITATION|length)
							<option {{"selected" if j == c['excitation']}} value={{j}}>{{NAMES_EXCITATION[j]}}</option>
						% endfor
						</select>
					</td>
					
					<td>
						<select id="rrange_{{channel}}">
						% for j in range(NAMES_RESISTANCE|length)
							<option {{"selected" if j == c['resistance_range']}} value={{j}}>{{NAMES_RESISTANCE[j]}}</option>
						% endfor
						</select>
					</td>
					
					<td>
						<input type="checkbox" id="autorange_{{channel}}" {{"checked" if c['auto_range']}}>
					</td>
					
					<td>
						<input type="number" id="dwelltime_{{channel}}" min="1" max="30" value="{{ c['dwell_time']|e }}" style="width:50px;">
					</td>
					
					<td>
						<input type="number" id="pausetime_{{channel}}" min="1" max="30" value="{{ c['pause_time']|e }}" style="width:50px;">
					</td>

					<td>
						<button onclick="request_set({{channel}})">Set</button>
					</td>
				</tr>
			% endfor
			
		</table>			
		
		<br>
		<button onclick="request_set_all()">Set All Channels</button>
		<button onclick="request_enable_all(true)">Enable All Channels</button>
		<button onclick="request_enable_all(false)">Disable All Channels</button>
		
	</p>
	
	<p style='font-size:small'>Note: Pause Time is the number of seconds for the LS370 to wait after changing the multiplexer or range, and is therefore the minimum period between channels when multiple channels are enabled.  The Dwell Time is not used by the LS370 since PyHK scans channels manually, but it is used by PyHK to determine when to force a channel change after not receiving valid data.  PyHK takes the first valid reading and moves on, so channels may read faster than this time.  However, open or out-of-range channels will wait the full Dwell Time before changing to the next channel.</p>

	
	<p style='font-size:small'>Warning: it is currently recommended to use autoranging for all channels or for none of them.  The LS370 firmware does not seem to properly handle per-channel autoranging over GPIB, which can lead to confusion.  This is under investigation, any input is appreciated.</p>
	

{% endblock %}


